* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #c3c3cfad;
	/* overflow: hidden; */
}

.container {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0px 60px;
	line-height: 2;
	height: 100vh;
	color: #fff;
	font-weight: 600;
	z-index: 1;
	overflow: hidden;
}
.container h1{
	opacity: 0;
}
.container p {
	color: #fff;
	text-align: center;
	opacity: 0;
	
}

.bcg-1 {
	background: url("../images/excerice-1.jpg") center center/cover;
}

.bcg-2 {
	background: url("../images/excerice-2.jpg") center center/cover;
}
.bcg-3 {
	background: url("../images/excerice-3.jpg") center center/cover;
}
.bcg-4 {
	background: url("../images/excerice-4.jpg") center center/cover;
}
.bcg-5 {
	background: url("../images/excerice-5.jpg") center center/cover;
}
.bcg-1::before,
.bcg-2::before,
.bcg-3::before,
.bcg-4::before,
.bcg-5::before {
	content: "";
	background: #00000060;
	z-index: -1;

	position: absolute;
	/* content: ""; */
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* z-index: -1; */
}

.btns {
	display: flex;
	height: 300px;
	align-items: center;
	/* border: 1px solid red; */
	width: 250px;
	justify-content: space-between;
	text-align: center;
}

.btn {
	padding: 5px 15px;
	background-color: #c56161;
	border-radius: 10px;
}

.btn a,
.btn i {
	color: #fff;
	text-decoration: none;
	margin: 2px;
}

.fnl-btn {
	display: block;
	/* border: 1px solid red; */
	margin-top: 110px;
	transition: all 0.3s ease-in-out;
	/* transition-delay: 2s; */
}

.fnl-btn:hover,
.btn:hover{
	background-color: #aaa;
	color: #c56161;
	cursor: pointer;
}
.fnl-btn:active,
.btn:active{
	transform: scale(0.9);
}
.container h1{
	animation: heading 1s ease-in-out 0.1s forwards;
}

#page-1 p,
#page-2 p,
#page-3 p,
#page-4 p,
#page-5 p{
	animation: text 1.5s ease-out 1s forwards;
}

/* Animation */
@keyframes heading {
	0%{
		transform: translateY(200px);
		opacity: 0;
	}
	25% {
		/* transform: translateY(150px); */
		opacity: 0.3;
	}
	50% {
		/* transform: translateY(100px); */
		opacity: 0.6;
	}
	80%{
		/* transform: translateY(50px); */
		opacity: 0.9;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes text {
	0%{
		transform: translateX(-1100px);
		opacity: 0;
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
