@media (max-width: 500px) {
	.container {
		text-align: center;
		justify-content: center;
	}
	.bcg-4 {
		background-size: cover;
	}
	.container p {
		/* border: 1px solid red; */
		height: 200px;
		text-align: center;
		overflow: hidden;
	}

	.btns {
		margin-top: 20px;
		align-items: flex-start;
	}
	.fnl-btn {
		margin-top: 20px;
	}
}
